mta_archives/
.DS_Store

**/gen/
**/edmx/
*.db
schema.sql
default-env.json

**/bin/
**/target/
.flattened-pom.xml
.classpath
.project
.settings

**/node/
**/node_modules/

**/.mta/
*.mtar
*.mta

*.log*
gc_history*
hs_err*
*.tgz
*.iml

.vscode
.idea

# auto generated wildcard
nss/db/.env
.env*
dist/
data.zip
*.bundle.js
bundle.js*
bundle.worker.js
public/nsc-client/
